
@media (min-width: 730px) {
    .konten-kontainer {
        display: flex;
    }
    .segi3pink{
        left: 100%;
        margin-top: -9.5em;
        transform: rotate(-90deg);
    }  
    .segi3ijo{
        left: 100%;
        margin-top: -9.5em;
        transform: rotate(-90deg);
    }    
  
}

@media only screen and (min-width: 930px){
    
}
